<h2>LOGIN</h2>
<form action="/users/login" method="POST">

    <label for="username">Username</label>
    <input type="text" name="username">
    <label for="password">Password</label>
    <input type="text" name="password">
    <button type="submit">create</button>

</form>